body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family:'Open Sans';
    text-decoration: none;
  }

  .parent{
    position: relative;
  }


    /* bckg */
  .child1{
    position: absolute;
    width: 100vw;
    clip: rect(0, 0, 50vh, 0%);
    object-fit:cover;
    height: 50vh;
    z-index: -999;
  }
  
  /* Barre de recherche */
  .child2 {
    border: none;
    width: 15%;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    outline: none;
    padding: 15px;
    border-color: none;
    z-index: 1000;
    margin-top: 40vh;
    margin-left: 41vw;

  }

  h1{
    display: flex;
    justify-content:center;
    margin-top: 8vh;
    padding: 0;
  }

  form{
    display: flex;
    justify-content:center;
    margin-left: 20px;
    margin-top: 5vh;
  }

  .container{
    display: flex;
    justify-content: space-around;
  }

  label{
    margin-left: 50px;
  }

  .CreateForm{
    margin-left: 50px;
  }

.titlecreation{
    margin-right: 10px;
    margin-left: 10px;
}

.Addbutton{
  margin-left: 50px;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  background-color: white;
  color: black;
  
  

}

ul{
    list-style-type:none;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10vh;
    margin-left: 10px;
    padding: 0;
    text-decoration: none;
    position: relative;
}

li{
    height: 25vh;
    width: 25vw;
    margin: 20px;
    background-color: #000000;
    border-radius: 5px;
    color: black;
    font-size: large;
    position: relative;
}


.voyagename{
    position: absolute;
    z-index: 999;
    color: white;
    margin-top: 32%;
    font-weight: bold;
}

.blocshow{
  margin: 40px;
}

.image{
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.lieu{
  margin: 0;
  margin-top: 40%;
  position: absolute;
  z-index: 999;
  color: white;
}

.blocbloc{
  margin-left: 20px;
}



